{% extends './themes/base_admin.html.twig' %}

{% block title %} Tableau de bord {% endblock %}

{% block description %} Tableau de bord {% endblock %}

{% block main %} 

<div style="background-color: #811412" class="text-white py-4 text-center mb-4">
    <h1 class="display-5" style="font-family: Georgia, serif;">Tableau de bord</h1>
</div>

 {% endblock %}