{% extends './themes/base_visitor.html.twig' %}

{% block title %} Blog - Sunu Cosaan {% endblock %}

{% block description %} Sunu Cosaan, les visages du Sénégal {% endblock %}

{% block keywords %} Sénégal, visages, ethnie, origines {% endblock %}

{% block main %} 
 <h1 class="text-center my-3 display-5"> A Qui sommes-nous ?</h1>
{% endblock %}