{% extends './themes/base_visitor.html.twig' %}

{% block title %} Vérification de l'email - Sunu Cosaan {% endblock %}

{% block description %} Sunu Cosaan, les visages du Sénégal {% endblock %}

{% block keywords %} Sénégal, visages, ethnie, origines {% endblock %}

{% block main %} 
 <div style="background-color: #811412" class="text-white py-4 text-center mb-4">
    <h1 class="display-5" style="font-family: Georgia, serif;">Vérification de votre email</h1>   
</div>
{% endblock %}